@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an assignment solution of Trinh Xuan Tuan HE153269</p>
</div>
